# 최상위 editorconfig 파일임을 명시 (권장)
root = true

# 모든 파일에 대한 기본 설정
[*]
charset = utf-8
end_of_line = crlf
indent_style = space
indent_size = 4

# C++ 소스 파일에만 BOM을 포함한 UTF-8 적용
[*.{cpp,h}]
charset = utf-8-bom
